extends ../layouts/adminlayout.pug
block body 
 .main-panel
  .content-wrapper
    .page-header
      h3.page-title  Edit User
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Forms
          li.breadcrumb-item.active(aria-current='page') Form elements
    .row
      .col-12.grid-margin
        .card
          .card-body
            h4.card-title Edit Current User
            form.form-sample(action='/admin/editteam' method='POST'  enctype='multipart/form-data')
              p.card-description  Personal info 
              .row
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label  Name
                    .col-sm-9
                      input.form-control(type='text' name='name' value=`${team.name}`)
                      input.form-control(type='hidden' name='Id' value=`${team._id}`)
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label Last Name
                    .col-sm-9
                      input#team_logo.form-control( type='file'   name="File" multiple='' placeholder='If you do not upload a logo, team logo will set by default.')

                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label Submit
                    .col-sm-9
                      button.btn.btn-primary(type='submit' ) Submit
            //-   .row
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Gender
            //-         .col-sm-9
            //-           select.form-control(value='salam')
            //-             option Male
            //-             option Female
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Date of Birth
            //-         .col-sm-9
            //-           input.form-control(placeholder='dd/mm/yyyy')
            //-   .row
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Category
            //-         .col-sm-9
            //-           select.form-control
            //-             option Category1
            //-             option Category2
            //-             option Category3
            //-             option Category4
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Membership
            //-         .col-sm-4
            //-           .form-check
            //-             label.form-check-label
            //-               input#membershipRadios1.form-check-input(type='radio' name='membershipRadios' value='' checked='')
            //-               |  Free
            //-         .col-sm-5
            //-           .form-check
            //-             label.form-check-label
            //-               input#membershipRadios2.form-check-input(type='radio' name='membershipRadios' value='option2')
            //-               |  Professional
            //-   p.card-description  Address 
            //-   .row
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Address 1
            //-         .col-sm-9
            //-           input.form-control(type='text')
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label State
            //-         .col-sm-9
            //-           input.form-control(type='text')
            //-   .row
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Address 2
            //-         .col-sm-9
            //-           input.form-control(type='text')
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Postcode
            //-         .col-sm-9
            //-           input.form-control(type='text')
            //-   .row
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label City
            //-         .col-sm-9
            //-           input.form-control(type='text')
            //-     .col-md-6
            //-       .form-group.row
            //-         label.col-sm-3.col-form-label Country
            //-         .col-sm-9
            //-           select.form-control
            //-             option America
            //-             option Italy
            //-             option Russia
            //-             option Britain
  // content-wrapper ends
  // partial:../../partials/_footer.html
  footer.footer
    .d-sm-flex.justify-content-center.justify-content-sm-between
      span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block Copyright &copy; bootstrapdash.com 2020
      span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
        | Free 
        a(href='https://www.bootstrapdash.com/bootstrap-admin-template/' target='_blank') Bootstrap admin templates
        |  from Bootstrapdash.com
  // partial
