doctype html
head
  //
    Basic Page Needs
    ==================================================
  title Duello Zone
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='description' content='Duello Zone')
  meta(name='author' content='Duello Zone')
  meta(name='keywords' content='Duello Zone')
  //
    Favicons
    ==================================================
  link(rel='shortcut icon' href='/img/duello.zone.jpg')
  link(rel='apple-touch-icon' sizes='120x120' href='/img/duello.zone.jpg')
  link(rel='apple-touch-icon' sizes='152x152' href='/img/duello.zone.jpg')
  //
    Mobile Specific Metas
    ==================================================
  meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
  //
    Google Web Fonts
    ==================================================
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CSource+Sans+Pro:400,700' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/assets/fonts/font-awesome/css/all.min.css' rel='stylesheet')
  link(href='/assets/fonts/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')
  link(href='/assets/vendor/magnific-popup/dist/magnific-popup.css' rel='stylesheet')
  link(href='/assets/vendor/slick/slick.css' rel='stylesheet')
  // Template CSS
  link(href='/assets/css/style-basketball.css' rel='stylesheet')
  // Custom CSS
  link(href='/assets/css/custom.css' rel='stylesheet')
.site-wrapper.clearfix
 .site-overlay
 block body

  Javascript Files
script(src='/assets/vendor/jquery/jquery.min.js')
script(src='/assets/vendor/jquery/jquery-migrate.min.js')
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/js/core.js')
script(src='/assets/vendor/twitter/jquery.twitter.js')

script(src='/assets/js/init.js')
block script