extends layouts/zonelayout.pug
block body
 .page-heading
  .container
    .row
      .col-md-10.offset-md-1
        h1.page-heading__title
          | Your 
          span.highlight Team
        ol.page-heading__breadcrumb.breadcrumb
          li.breadcrumb-item
            a(href='/home') Home

          li.breadcrumb-item.active(aria-current='page') Your Team
 // Page Heading / End
 //
  Content
  ==================================================
 .site-content
  .container
    .row
      //- .col-lg-4
      //-   // Account Navigation
      //-   .card
      //-     .card__header
      //-       h4 Welcome Back!
      //-     .card__content
      //-       nav.df-account-navigation
      //-         ul
      //-           li.df-account-navigation__link
      //-             a(href='#') Personal Information
      //-           li.df-account-navigation__link
      //-             a(href='#') Billing Information
      //-           li.df-account-navigation__link
      //-             a(href='#') Shipping Information
      //-   // Account Navigation / End
      

      .col-lg-12
        // Personal Information
        if (action !== "empty")
         .alert.alert-primary(role='alert' style='font-size: 17px; color:white;')
          | #{action}
        .card.card--lg
          .card__header
            h4 Team Information
          .card__content
            form.df-personal-info(method='POST' action='/updateuser')
              .row
                .col-md-6
                  .form-group
                    label(for='account-email') Email
                    input#account-email.form-control(type='email' value='' name='account_email' placeholder=``)
              .row
                .col-md-6
                  .form-group
                    label(for='account-first-name') First Name
                    input#account-first-name.form-control(type='text' value=''  name='account_first_name' placeholder=``)
                .col-md-6
                  .form-group
                    label(for='account-last-name') Last Name
                    input#account-last-name.form-control(type='text' value=''  name='account_last_name' placeholder=``)
              .form-group--submit
                button.btn.btn-default.btn-lg.btn-block(type='submit')
                  | See all the
                  | changes
            form.df-personal-info(method='POST' action='/updatepassword' style='margin-top:5%;')
              .row
                .col-md-6
                  .form-group
                    label(for='account-password') Change Password
                    input#account-password.form-control(type='password'  value='' name='account_password' placeholder='**********')
                .col-md-6
                  .form-group
                    label(for='account-password-repeat') Repeat Password
                    input#account-password-repeat.form-control(type='password'  value='' name='account_password_repeat' placeholder='**********')
              .form-group--submit
                button.btn.btn-default.btn-lg.btn-block(type='submit')
                  | Change Password
        // Personal Information / End
